body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.nav-item {
    float: left;
}

.nav-link {
    color: rgb(5, 218, 251);
    display: block;
    padding: 14px 20px;
    text-decoration: none;
}

header {
    position: relative;
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
}

.header-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

header:hover .header-text {
    opacity: 1;
}

.profile-container {
    text-align: center;
    margin-top: 50px; 
}

.profile-pic {
    width: 160px;
    height: 170px;
    border-radius: 100%; 
}

h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cyan;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cyan;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 80%;
}

.project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-pic {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; /* Ensure image is centered in its container */
}

.project-description {
    color: chartreuse;
    text-align: left;
    max-width: 500px;
    padding-left: 20px; /* Adds some space between image and text */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px; 
    margin: 20px auto;
}

.gallery-image {
    width: 100%; 
    height: auto; 
}
